body {
  background-color: pink;
}
h1 {
  text-align: center;
  color: rgb(48, 48, 48);
  font-family: monospace;
}

/*Welcome Line*/
.mainLayer h1 {
  font-size: xxx-large;
}

/*Heading 2 - Statistics*/
.sameline {
  text-align: center;
  /*  Incase anyone needs the nowrap line:
          white-space: nowrap;
  */
}
h2 {
  display: inline-block;
  margin-right: 5%;
  color: rgb(48, 48, 48);
}

#heading_savings {
  margin-right: 0%;
}
/*Heading 2 - Statistics*/

/*Corner Buttons*/
#rules {
  position: fixed;
  top: 0;
  left: 0;

  width: 110px;
  height: 50px;
  background-color: pink;
  border-style: dotted;
  opacity: 50%;
}

#topPage {
  position: fixed;
  top: 50px;
  left: 0;

  width: 110px;
  height: 50px;
  background-color: pink;
  border-style: dotted;
  opacity: 50%;
}
/*Corner Buttons*/

/*Button Style*/
.buttoncenter {
  text-align: center;
  margin: 50px;
}
button {
  width: 350px;
  height: 100px;
  margin-bottom: 10px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Button Style*/

/*Main Button colors*/
#withdraw {
  background-color: rgb(252, 106, 106);
}
#deposit {
  background-color: orange;
}
#transfer {
  background-color: yellow;
}
#gamble {
  background-color: rgb(4, 155, 11);
}
#work {
  background-color: rgb(101, 168, 255);
}
#button_savings {
  background-color: blueviolet;
}
/*Main Button colors*/

/*Layers that will be toggled*/
.layer {
  background-color: aliceblue;
  text-align: center;
}
.hidden {
  display: none;
}
hr {
  background-color: red;
  height: 1px;
}
/*Layers that will be toggled*/

/*Button design in layers that submit data*/
.submitbuttons {
  width: 175px;
  height: 50px;
  background-color: pink;
}
/*Button design in layers that submit data*/

textarea {
  resize: vertical;
}

/*Gamble Button colors*/
#double {
  background-color: rgb(218, 218, 218);
}
#blackjack {
  background-color: rgb(141, 141, 141);
}
#fight {
  background-color: rgb(97, 97, 97);
}
#bigone {
  background-color: rgb(44, 44, 44);
  color: white;
}
/*Gamble Button colors*/

/*Gamble function has more details so I made css specific to submenu*/
.gambleSubLayer {
  background-color: rgb(132, 139, 233);
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.gambleSubLayer hr {
  background-color: whitesmoke;
}
/*Gamble function has more details so I made css specific to submenu*/

/*Section for Blackjack Alone - Structure, font color, alignment, and buttons respectively*/
.blackjackSubLayer {
  background-color: rgb(162, 137, 196);
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-bottom: 10px;
}
.blackjackSubLayer h2 {
  color: white;
}
#you {
  margin-right: 0%;
}
.blackjackSubLayer button {
  width: 175px;
  height: 50px;
}
/*Section for Blackjack Alone - Structure, font color, alignment, and buttons respectively*/
