body {
  background-color: rgb(235, 249, 255);
}

/*Makes main heading sticky*/
.sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 2; /*Places sticky heading over heading 3 line*/
}

/*Formating Sticky Heading*/
.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border-radius: 10px;
}

section {
  float: left;
  margin-left: auto;
  margin-right: auto;
}
/*Formating Sticky Heading*/

/*Title and Buttons*/
h1 {
  border: 10px solid lightblue;
  background-color: lightblue;
  border-radius: 50px;
  font-family: Arial;
  color: rgb(247, 252, 255);
  font-size: 50px;
}

#home {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(255, 204, 153);
  color: grey;
  font-weight: bold;
  font-size: 18px;
}

#direct {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(0, 153, 255);
  color: white;
  font-weight: bold;
  font-size: 18px;
}
/*Title and Buttons*/

h3 {
  position: relative;
  margin-top: 80px;
  color: red;
  font-size: 28px;
  text-align: center;
  font-family: Arial;
  z-index: 1; /*Places heading 3 line behind sticky heading*/
}

/*Green part aka the actual form*/
form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: 5px solid rgb(121, 237, 165);
  background-color: rgb(121, 237, 165);
  border-radius: 10px;
  text-align: center;
  padding: 30px;
}

/*Question labels*/
h2 {
  color: rgb(247, 22, 22);
  font-family: Arial;
  padding-top: 10px;
}

/*Questions*/
p {
  color: rgb(115, 60, 60);
  font-family: Arial;
  font-size: 18px;
}

/*Font of choice options*/
.Options {
  font-family: "Comic Sans MS";
}

textarea {
  resize: vertical;
}

/*Submit button*/
#submit {
  border-radius: 50px;
  background-color: rgb(46, 38, 125);
  color: white;
  font-weight: bold;
  padding: 30px 15px;
}

@media (max-width: 770px) {
  .center {
    flex-direction: column;
  }

  #home {
    margin-top: 20px;
  }

  #direct {
    margin-bottom: 20px;
  }
}
