body {
  background-color: rgb(98, 228, 86);
}
h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
}
h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}
.pushright {
  padding-left: 20px;
}
ul {
  font-size: large;
  font-family: Andale Mono, monospace;
  list-style-type: "$ | ";
  font-weight: bold;
}
li {
  padding-bottom: 15px;
  font-family: inherit;
}
.center {
  text-align: center;
}
button {
  padding: 40px 90px;
  border-radius: 25%;
  background-image: url("Button_Dollar.jpg");
  margin-bottom: 20px;
}
